<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Enter to Admin Panel</h2>

  <div *ngIf="authService.error$ | async as error" class="alert alert-danger">
    {{error}}
  </div>

  <div *ngIf="message" class="alert alert-info">
    {{message}}
  </div>

  <div
    [class.invalid]="form.get('email').touched && form.get('email').invalid"
    class="form-control"
  >
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email">
    <div
      *ngIf="form.get('email').touched && form.get('email').invalid"
      class="validation"
    >
      <small *ngIf="form.get('email').errors.required">
        Please enter an email
      </small>

      <small *ngIf="form.get('email').errors.email">
        Error: incorrect email
      </small>
    </div>
  </div>

  <div
    [class.invalid]="form.get('password').touched && form.get('password').invalid"
    class="form-control"
  >
    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password">
    <div
      *ngIf="form.get('password').touched && form.get('password').invalid"
      class="validation"
    >
      <small *ngIf="form.get('password').errors.required">
        Please enter password
      </small>

      <small *ngIf="form.get('password').errors.minlength">
        Password should be more than
        {{form.get('password').errors.minlength.requiredLength}}
        symbols. Now it has
        {{form.get('password').errors.minlength.actualLength}}
        symbols
      </small>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="form.invalid || submitted"
  >Enter</button>
</form>
